# Compiled Object files
*.slo
*.lo
*.o
*.exe
*.ilk
*.pdb
*.ipch

#intelligent data
*.sdf
*.opensdf

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

ERCP2v2/Debug/
ERCP2v2/Release/
ERCP2v2/GeneratedFiles/
#Log files
*.yml

